.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	height: 100vh;
	height: 100dvh;
	width: 100%;
	background-color: var(--popup-background-color);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup__body {
	text-align: center;
	padding: 15px;
	color: var(--text-color-secondary);
	margin: 0 15px;

	background-color: rgba(90, 90, 90, 0.2);
	backdrop-filter: blur(var(--blur));
}

@media (min-width: 1024px) {
	.popup__body {
		min-width: clamp(700px, 75vw, 1200px);
		min-height: clamp(525px, 55vh, 800px);
		max-height: 80vh;
	}
}

.popup__body .button {
	padding: 15px 89px;
}

/* Choise Popup */
.choise-popup>*:not(:first-child) {
	margin-top: clamp(24px, calc(11.9px + 0.71vw), 35px);
}

.choise-popup__gift-box {
	width: clamp(122px, calc(30.9px + 10.9vw), 292px);
}

/* Error popup */
.error-popup {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}

/* Congrats popup */
.congrats-popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: clamp(16px, calc(12.8px + 0.9vw), 30px);
}

.congrats-popup h3,
.congrats-popup button {
	margin-top: clamp(5px, calc(1.6px + 0.96vw), 20px);
}

.congrats-popup li #timer {
	color: var(--accent-color-primary);
}

/* FAQ popup */
.faq-popup {
	margin: 0 20px;
	text-align: left !important;
	max-width: 1268px;
	padding: clamp(25px, calc(21.12px + 0.98vw), 40px) clamp(10px, calc(-5.28px + 3.92vw), 70px);
	max-height: 90dvh;
	overflow-y: auto;
}

.faq-popup__section:not(:last-child) {
	margin-bottom: 10px;
}

.faq-popup__section p:first-child {
	margin-bottom: 5px;
}