.prizes-grid {
	margin-top: clamp(30px, calc(20px + 2.61vw), 70px);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	column-gap: clamp(26px, calc(-7.2px + 9.23vw), 170px);
	row-gap: clamp(36.8px, calc(17.76px + 5.28vw), 100px);
}

@media (max-width: 740px) {
	.prizes-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 360px) {
	.prizes-grid {
		column-gap: clamp(7px, calc(3vw + 2px), 15px);
	}
}

.prize-item {
	width: clamp(98px, calc(59.2px + 9.93vw), 250px);
	aspect-ratio: 250 / 267;
	position: relative;
	cursor: pointer;

	--box-anim-duration: 3s;
}

@keyframes temblor {

	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0);
	}
}

.prize-item:hover {
	-webkit-animation: temblor 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	animation: temblor 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.prize-item__bottom,
.prize-item__head,
.prize-item__prize {
	position: absolute;
	left: 0;

	width: 100%;
	object-fit: contain;
}

.prize-item__bottom {
	bottom: 0;
}

.prize-item__head {
	top: -11%;
	z-index: 15;
	transition: all var(--box-anim-duration) ease-in-out;
}

.prize-item__bottom img,
.prize-item__head img {
	width: 100%;
	object-fit: contain;
}

.prize-item__inside {
	transform: translateY(60%);
	position: relative;
	z-index: 10;
}

.prize-item__bottom-box {
	position: relative;
	z-index: 13;
}

.prize-item__prize {
	bottom: 0%;
	z-index: 11;
	transform: rotate(30deg) scale(0.5) translateY(20%);
	transition: all var(--box-anim-duration) ease calc(var(--box-anim-duration) * 0.6);
}

/* Box opened styles */
.prize-item.open .prize-item__head {
	transform: translateY(-45%);
}

/* Box win styles */
.prize-item.win.open .prize-item__prize {
	transform: translateY(-30%) rotate(30deg) scale(0.55);
}